In [1]:
import pandas as pd
import numpy  as np
from getConfig import getConfig

config = getConfig()

In [6]:
test = pd.read_csv(config["dataLoc"]+"testMaster.csv")
rul = pd.read_csv(config["dataLoc"]+"rulMaster.csv")

In [11]:
units = test.sample(5)

In [12]:
units

,unit,cycle,setting1,setting2,setting3,sensor1,sensor2,sensor3,sensor4,sensor5,...,sensor12,sensor13,sensor14,sensor15,sensor16,sensor17,sensor18,sensor19,sensor20,sensor21
7878,61,96,-0.0006,-0.0001,100,518.67,642.19,1579.29,1398.30,14.62,...,522.14,2387.99,8147.62,8.4352,0.03,393,2388,100.0,39.01,23.3332
21425,164,167,20.0020,0.7000,100,491.19,608.31,1486.69,1265.40,9.35,...,314.88,2388.15,8053.51,9.2622,0.02,367,2324,100.0,24.48,14.6485
75808,526,45,35.0066,0.8400,100,449.44,555.55,1364.86,1130.57,5.48,...,182.58,2387.75,8055.22,9.3490,0.02,334,2223,100.0,14.81,8.9311
30874,233,185,0.0017,0.0020,100,518.67,642.89,1594.96,1415.40,14.62,...,521.03,2388.03,8168.63,8.4409,0.03,394,2388,100.0,38.77,23.2050
66242,475,173,41.9997,0.8417,100,445.00,550.10,1345.65,1108.97,3.91,...,131.20,2388.00,8089.13,9.2733,0.02,329,2212,100.0,10.67,6.3481

In [16]:
rul[160:]

     RUL  unit
160  169   161
161   39   162
162   39   163
163   14   164
164   11   165
165  121   166
166   86   167
167   56   168
168  115   169
169   17   170
170  148   171
171  104   172
172   78   173
173   86   174
174   98   175
175   36   176
176   94   177
177   52   178
178   91   179
179   15   180
180  141   181
181   74   182
182  146   183
183   17   184
184   47   185
185  194   186
186   21   187
187   79   188
188   97   189
189    8   190
..   ...   ...
677   41   678
678  182   679
679   73   680
680   39   681
681   58   682
682   14   683
683  145   684
684   88   685
685  162   686
686  189   687
687  120   688
688   98   689
689   33   690
690  184   691
691  110   692
692   68   693
693   24   694
694   75   695
695   18   696
696   16   697
697  166   698
698   98   699
699  176   700
700   81   701
701  118   702
702   35   703
703  131   704
704  194   705
705  112   706
706   26   707

[547 rows x 2 columns]