In [1]:
import sys
print(sys.path)

['', '/home/tbrownex/repos/Statistics/Time Series/common', '/home/tbrownex/repos/common', '/home/tbrownex/tensorflow/lib/python35.zip', '/home/tbrownex/tensorflow/lib/python3.5', '/home/tbrownex/tensorflow/lib/python3.5/plat-x86_64-linux-gnu', '/home/tbrownex/tensorflow/lib/python3.5/lib-dynload', '/usr/lib/python3.5', '/usr/lib/python3.5/plat-x86_64-linux-gnu', '/home/tbrownex/tensorflow/lib/python3.5/site-packages', '/home/tbrownex/tensorflow/lib/python3.5/site-packages/IPython/extensions', '/home/tbrownex/.ipython']

In [1]:
import pandas.util.testing as tm
tm.N, tm.K = 15, 3  # Module-level default rows/columns

In [9]:
df = tm.makeDataFrame()
df.index=range(tm.N)

In [13]:
df["A"] = [x for x in range(tm.N)]

In [14]:
df.head()

   A         B         C
0  0 -1.340685 -1.210817
1  1  0.858698 -0.875923
2  2  1.788039  0.191412
3  3 -0.729508 -0.740035
4  4 -1.474803  0.123836

In [21]:
movingMean = df["B"].rolling(window=5).mean()

In [23]:
df = df.assign(tmp = movingMean)

In [24]:
df.head()

   A         B         C       tmp
0  0 -1.340685 -1.210817       NaN
1  1  0.858698 -0.875923       NaN
2  2  1.788039  0.191412       NaN
3  3 -0.729508 -0.740035       NaN
4  4 -1.474803  0.123836 -0.179652

In [25]:
df.rename(index=str, columns={"tmp": "mover"}, inplace=True)

In [26]:
df.head()

   A         B         C     mover
0  0 -1.340685 -1.210817       NaN
1  1  0.858698 -0.875923       NaN
2  2  1.788039  0.191412       NaN
3  3 -0.729508 -0.740035       NaN
4  4 -1.474803  0.123836 -0.179652