In [42]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("/home/tbrownex/data/Hackett/Boeing/final.csv")

In [107]:
before = df.shape[0]
df = df[df["Plan"] != 0]
print(before - df.shape[0])

936

In [108]:
df.shape

(1699, 34)

In [110]:
df["Diff"] = (df["Plan"] - df["Actual"]) / df["Plan"]

In [111]:
mid = df[(df["Plan"] > 50) & (df["Plan"] < 75)]

In [112]:
mid.shape

(153, 35)

In [113]:
mid["Diff"].mean()

-0.7234913299947513

In [115]:
mid.sample(10)[["Job", "Plan", "Actual"]]

                  Job   Plan  Actual
1843      SRRMDF18FMS  57.24   26.32
2250    TSSF18FINLAND  69.18   15.65
1687          SLEP_C1  60.41   36.97
187   ASCMDFRCOCKPROD  69.24  548.73
2026     TNKJPNSUPTMD  52.99   31.06
2454         TSS_F15E  73.30    0.02
2282  TSSF18KCBAFOC31  72.02   54.69
2330    TSST2FUTUREFP  67.06   32.82
992     GISP_KUW_SAFP  55.22   66.39
684    F15MD SRRKRRC1  52.56    0.10