In [1]:
from getConfig import getConfig
from getData   import getData

numPanels = 3

In [2]:
config = getConfig()

In [3]:
types = {"hour": "int8",\
         "population": "float32",\
         "dow": "int8",\
         "weekNum": "int8",\
         "month": "int8",\
         "holiday": "int8"}

In [7]:
df = pd.read_csv(config["dataLoc"]+"3_final.csv", dtype=types)
# Convert their date format to a standard date
df["date"] = pd.to_datetime(df["date"])

In [26]:
df.

                           population    block  dow  weekNum  month  holiday
panel     date       hour
AT0006058 2017-05-25 0           85.0  evening    3       21      5        0
                     1           67.0  evening    3       21      5        0
                     2           83.0  evening    3       21      5        0
                     3           39.0  evening    3       21      5        0
                     4           40.0  morning    3       21      5        0

In [11]:
df.set_index(["panel", "date", "hour"], inplace=True)

In [23]:
sv = df.index.values

In [25]:
sv

array([('AT0006058', Timestamp('2017-05-25 00:00:00'), 0),
       ('AT0006058', Timestamp('2017-05-25 00:00:00'), 1),
       ('AT0006058', Timestamp('2017-05-25 00:00:00'), 2), ...,
       ('VE0002007', Timestamp('2018-08-05 00:00:00'), 21),
       ('VE0002007', Timestamp('2018-08-05 00:00:00'), 22),
       ('VE0002007', Timestamp('2018-08-05 00:00:00'), 23)], dtype=object)

In [19]:
grp = df.groupby(level=[0,1])

In [20]:
for a,b in grp:
    print(a)
    input()

('AT0006058', Timestamp('2017-05-25 00:00:00'))

KeyboardInterrupt:

In [2]:
def loadData(config):
    rows = 8736*numPanels    # Each panel in Train has 8,736 entries
    train = getData(config, rows=rows)
    
    rows = 1776*numPanels    # Each panel in Test has 1,776 entries
    test = pd.read_csv(config["dataLoc"]+"test.csv", nrows=rows)
    return train, test

In [3]:
def checkPanels(train, test):
    '''Make sure we have the Test data for any Training panels '''
    trainPanels = train["panel"].unique()
    testPanels = test["panel"].unique()
    diff = [panel for panel in trainPanels if panel not in testPanels]
    if len(diff) > 0:
        print("Mismatch in panels between Train and Test")
    else:
        print("Panels: {}".format(trainPanels))

In [4]:
def showDates(train, test):
    start, end = train["date"].min(), train["date"].max()
    print("Training starts {} and ends {}".format(start, end))
    start, end = test["date"].min(), test["date"].max()
    print("Test     starts {} and ends {}".format(start, end))

In [8]:
train, test = loadData(config)

In [7]:
train.head()

,panel,block_afternoon,block_evening,block_morning,date,dow_0,dow_1,dow_2,dow_3,dow_4,...,weekNum_48,weekNum_49,weekNum_5,weekNum_50,weekNum_51,weekNum_52,weekNum_6,weekNum_7,weekNum_8,weekNum_9
0,AT0006058,0,1,0,2017-05-25,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,AT0006058,0,1,0,2017-05-25,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,AT0006058,0,1,0,2017-05-25,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,AT0006058,0,1,0,2017-05-25,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,AT0006058,0,0,1,2017-05-25,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
checkPanels(train, test)
showDates(train, test)

Panels: ['AT0006058' 'AT0006146' 'AT0007402']
Training starts 2017-05-25 and ends 2018-05-23
Test     starts 2018-05-24 and ends 2018-08-05